.nav__logo img {
	width: 50px;
	padding-right: 0.5rem;
	margin-right: 2rem;
}
aside {
	position: fixed;
	left: 50%;
	bottom: 1rem;
	transform: translateX(-50%);

	/* transform: translate(-50%, -50%); */
	background-color: var(--body-color);
	padding: 1.875rem;
	display: flex;
	flex-direction: row;
	align-items: center !important;
	justify-content: space-between;
	box-shadow: var(--shadow);
	border-radius: var(--border-radius);
	transition: 0.3s;
	z-index: 999;
}
.nav__list {
	display: flex;
	flex-direction: row;
	row-gap: 1rem;
}
.nav__link i {
	font-size: 1.5rem;
	color: var(--title-color);
	padding: 0 0.875rem !important;
	transition: 0.3s;
}
.nav__link i:hover {
	color: var(--third-color);
}
.nav__menu ul {
	margin-bottom: 0 !important;
}
.nav__item {
	text-align: center !important;
}
/* .copyright {
	color: hsl(245, 15%, 65%);
	font-size: var(--small-font-size);
	transform: rotate(-180deg);
	writing-mode: vertical-rl;
} */

/* blur */
aside {
	/* filter: blur(5px); */
	backdrop-filter: blur(50px);
	background: rgba(255, 255, 255, 0.2);
}
