.the-form {
	overflow: hidden;
	padding: 0.5rem;
}
.form-input {
	max-width: 500px;
	margin: 0 auto;
}

.textarea1 {
	max-width: 95%;
	margin: 0 auto;
	resize: none;
	margin-top: 1rem;
}
.notice {
	color: #777;
	font-size: 16px;
}
/* select  */
.radio-inputs {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	background-color: #eee;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 0.25rem;
	width: 100%;

	font-size: 14px;
}

.radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
}

.radio-inputs .radio input {
	display: none;
}

.radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem 0;
	color: rgba(51, 65, 85, 1);
	transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
	background-color: #fff;
	font-weight: 600;
}
/* select  */

.swal2-confirm.swal2-styled {
	position: relative;
}
.swal2-confirm.swal2-styled.swal2-default-outline::after {
	content: icon("check");
	margin-left: 15em;
	width: 10px;
	height: 10px;
	position: absolute;
}
