.swal2-popup.swal2-modal.swal2-show {
	/* width: fit-content; */
	height: auto;
}

.swal2-popup.swal2-modal.swal2-show {
	display: flex;
}
#contact__form {
	display: grid !important;
	/* grid-template-columns: repeat(2, 1fr); */
	justify-content: center;
}
#contact__form-group {
	position: relative;
	margin-bottom: 0.875rem;
	height: 3.75rem;
}
#contact__form input {
	width: 300px;
	margin: 0 auto;
	box-shadow: var(--shadow);
	background-color: var(--container-color);
	color: var(--text-color);
	border: none;
	outline: none;
	margin: 0.875rem;
	border-radius: 1.875rem;
	padding: 0.625rem 1.875rem;
	z-index: 1;
}
#contact__form-area {
	height: 5.25rem;
}
#contact__form-area textarea {
	resize: none;
	width: 100%;
	height: 100%;
	box-shadow: var(--shadow);
	background-color: var(--container-color);
	color: var(--text-color);
	border: none;
	outline: none;
	/* border-radius: var(--border-radius); */
	border-radius: 1.875rem;
	padding: 0.625rem 1.875rem;
	margin-top: 1rem;
	z-index: 1;
}
/* 

.contact__form-area textarea {
	resize: none;
}









/* select  */
.radio-inputs {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	background-color: #eee;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 0.25rem;
	width: 300px;
	margin: 1rem auto;
	font-size: 14px;
}

.radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
}

.radio-inputs .radio input {
	display: none;
}

.radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem 0;
	color: rgba(51, 65, 85, 1);
	transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
	background-color: #fff;
	font-weight: 600;
}
/* select  */
/*  */
/*  */
/*  */
.swal2-cancel.swal2-styled {
	border-radius: 1.875rem !important;
}
.whats-icon {
	width: 70px;
	padding-top: 40px;
}
